:root {
    --primary-color: #083D77;
    --secondary-color: #1DAEE8;
    --accent1-color: #F4D35E;
    --accent2-color: #F77E44;
}


body {
    width: 2000px;
    margin: auto;
}

/* Hero Div Layout*/

.hero {
    position: relative;
    text-align: center;
    margin-top: 15px;




}

.hero img {
    display: block;
    width: 100%;
    height: auto;


}

.hero h1 {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    font-size: 2.5em;
    color: white;


}

.hero article {
    position: absolute;
    bottom: 100px;
    left: 10%;
    background-color: var(--accent1-color);
    padding: 10px;
    width: 80%;
    opacity: 0.9;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;

}


.hero article img {
    float: right;
    margin-left: 15px;
    width: 20%;
    height: auto;

}

.hero article p {
    font-size: 1.5em;


}


/*Header Layout*/

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--primary-color);


}

.navbar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-size: 25px;
    border-radius: 5px;
    background-color: var(--accent1-color);



}

header img {
    padding: 10px 50px
}

/* Footer Layout*/

footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 15px;
}

footer p {
    flex: 1;
    text-align: center;
    color: white
}

.sociallinks a {
    text-decoration: none;
}

/* History Layout*/

.history {
    background: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
}

.history h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-top: 5px;

}

.history p {
    flex: 1 1 300px;
    margin: 10px;
    font-size: 1.5em;

}

.history img {
    max-width: 50%;
    margin: 20px;
}

/* Adventure Layout */

.adventure {
    background: var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}

.adventure h2 {
    grid-column: span 5;
    text-align: center;
    font-size: 2.5em;

}

.adventure figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure img {
    width: 100%;
    height: auto;

}

.adventure figcaption {
    margin-top: 15px;
    font-size: 1.5em;
}